body {
    margin: 0;
    font-family: 'Hanuman', sans-serif;
}

.container {
    width: 1440px;
    height: 700px;
    position: relative;
    background: white;
}

.header {
    width: 100%;
    height: 119px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    background: white;
}

.logo {
    font-size: 40px;
    font-family: 'Irish Grover', cursive;
    color: black;
}

.nav {
    margin-left: auto;
    margin-right: 47px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
    color: black;
    font-size: 24px;
    font-family: 'Hanuman', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 20px;
}

.item {
    width: 395px;
    height: 416px;
    background: #EDEFE4;
    border-radius: 24px;
    overflow: hidden;
    border: 2px solid #E1E4D9;
    position: absolute;
}

.item:nth-child(2) {
    top: 150px; /* Menyesuaikan posisi item kedua */
    left: 435px; /* Menyesuaikan posisi item kedua */
}

.item:nth-child(3) {
    top: 150px; /* Menyesuaikan posisi item ketiga */
    left: 20px; /* Menyesuaikan posisi item ketiga */
}

.title {
    color: #141E0C;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    line-height: 20.80px;
    word-wrap: break-word;
    position: absolute;
    top: 18px;
    left: 24px;
}

.price {
    color: #476730;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    line-height: 26px;
    word-wrap: break-word;
    position: absolute;
    top: 18px;
    right: 24px;
}

.details {
    color: #74796D;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    position: absolute;
    top: 326px;
    left: 24px;
}

img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 41px;
    left: 40px;
}
